/* barra navegacion */
body {margin: 0;}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  ul.topnav li {float: left;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #040303;
  }
  ul.topnav li a {
    display: block;
    color: rgb(15, 14, 14);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul.topnav li a:hover:not(.active) {background-color: #5a7bfd;}
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul.topnav li a.active {background-color: #ffffff;}

ul.topnav li.right {float: right;}
  li a:hover {
    background-color: #111;
  }
.nav__ContainerDescription{
  display: none;
}
.nav__ContainerParrafo{
  display: none;
}
.nav__ContainerImg{
  display: none;
}
.nav__ContainerGame {
display: none;
}
.nav__ContainerBand{
  display: none;
}
.nav_zombies{
  background-color: #fff;
  width: 40%;
  height: 530px;
  margin-left: 15px;
  display: inline-block;
}
.nav_zombies h2{
  background-color: #fff;
  margin-top: auto;
  text-align: center;

}
.nav__portada img
{
  height:100%;
  width: 100%;
}
.nav__Banda{
  background-color: #fff;
  width: 55%;
  float: right;
  height: 530px;
  margin-right: 3px;
  margin-left: 5px;
}
.nav__zombies__parrafo{
  margin-top: auto;
  margin-left: 6px;
  height: 35%;
  width: 360px;
  margin-bottom: 4px;
  color: #fFF;
  
}
.nav__Video{
  width: 750px;
  height: 370px;
  margin-top: auto;
  margin-left: 6px;
}
.nav__Video iframe{
  width: 100%;
  height: 100%;
}
.nav__logo{
  width: 48%;
  height: 250px;
  display: inline-block;
  margin-left: 2px;
}
.nav__ParrafoLogo{
  background-color: #fff;
  float: right;
  width: 50%;
  height: 250px;
  color: #000;
  font-size: large;
  margin-bottom: 6px;
  
}
.nav__ParrafoLogo p{
  margin-left: 19px;
  margin-top: auto;
  font-size: 17px;
}
.nav__ParrafoBanda{
  background-color: #fff;
  margin-top: 3px;
  height: 250px;
  color: #000;
  margin-left: 19px;
  float: right;
  font-size: 20px;
}
.nav__zombies__parrafo{
  background-color: #fff;
  color: #000;
  height: 50%;
  width: 100%;
  margin-bottom: 4px;
}
.nav__zombies__parrafo p{
  font-size: x-large;
  margin-left: 3px;
}
.nav__logo img{
  width: 100%;
  height: 100%;
}

  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  @media(max-width:1650px){
    .nav__Video{
      width: 100%;
      height: 300px;
      margin-top: 140px;
      margin-left: 6px;
      margin-bottom: auto;
    }
  }
  @media(max-width:1250px){
    .nav__Video{
      width: 350px;
      height: 300px;
      margin-top: 140px;
      margin-left: 6px;
      margin-bottom: auto;
    }
    }
   @media(max-width:830px){
    .nav_zombies{
      display: none;
    }
    .nav_zombies h2{
      display: none;
    }
    
    .nav__Banda{
      display: none;
    }
    .nav__zombies__parrafo{
      display: none;
      
    }
    .nav__Video{
      display: none;
    }
    .nav__Video iframe{
      display: none;
    }
    .nav__logo{
      display: none;
    }
    .nav__ParrafoLogo{
      display: none; 
    }
    .nav__ParrafoLogo p{
      display: none;
    }
    .nav__ParrafoBanda{
      display: none;
    }
    .nav__zombies__parrafo{
      display: none;
    }
    .nav__zombies__parrafo p{
      display: none;
    }
    .nav__logo img{
      display: none;
    }

    
    .nav__ContainerDescription{
      display: block;
    }
    .nav__ContainerParrafo{
      display: block;
    }
    .nav__ContainerImg{
      display: block;
    }
    .nav__ContainerGame {
    display: block;
    }
    .nav__ContainerBand{
      display: block;
    }
   }
  .slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    height: auto;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 180px;
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
 
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    min-height: 500px;
   
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #0c0a0a;
    cursor: pointer;
    display: none;
    font-size: 40px;
    min-height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #f4f4f4;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-circulo {
    color: #6c3838;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #4e2626;
}
#slide-1:checked ~ .control-1 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~  
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(83, 36, 36, 0);
}
.icono{
  margin: 0;
  width: 40px;
}
.header{
  
  margin: 0;
  background-color: #faf9ff;
}
.footer{
  background-color: #72adcfca;
  width: 100%;
  height: 100px;
}
.iconol{
  width: 10px;
  height: 10px;
}
.texto{
  text-align: center;
  size: 5px; ;
}
.parrafo{
  text-align: center;
  margin: 10px;
  padding: 6px;
}


/* galeria imagenes  */



div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 4.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.imagetarget{
  width:600px; 
  height:400px;
}
.imagenoticia{
  width:100%; 
  height:auto;
}
.footer
{
  background-color: rgba(105, 105, 105, 0.319);
  text-align:left;
  height: 35px;
}
.icon
{
  width: 30px;
  height: auto;
}

/* formulario */
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* bottom 
}*/



.botom {
  background-color: red;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.separador{
  background-color: rgba(6, 116, 241, 0.568);
}