body {margin: 0;}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  ul.topnav li {float: left;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #040303;
  }
  ul.topnav li a {
    display: block;
    color: rgb(15, 14, 14);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul.topnav li a:hover:not(.active) {background-color: #5a7bfd;}
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul.topnav li a.active {background-color: #ffffff;}

ul.topnav li.right {float: right;}
  li a:hover {
    background-color: #111;
  }
.nav__ContainerDescription{
  display: none;
}
.nav__ContainerParrafo{
  display: none;
}
.nav__ContainerImg{
  display: none;
}
.nav__ContainerGame {
display: none;
}
.nav_zombies{
  background-color: #555;
  width: 40%;
  height: 530px;
  margin-left: 3px;
  border: solid #555;
  display: inline-block;
}
.nav_zombies h2{
  background-color: #888;
  margin-top: auto;
  border: solid #333;
}
.nav__ContainerBand{
display: none;
}
.nav__Banda{
  background-color: #040303;
  width: 55%;
  float: right;
  height: 530px;
  margin-right: 3px;
}
.nav__zombies__parrafo{
  background-color: #040303;
  margin-top: auto;
  height: 35%;
  width: 380px;
  margin-left: 6px;
}
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

  .slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    height: auto;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 180px;
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
 
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    min-height: 400px;
   
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #0c0a0a;
    cursor: pointer;
    display: none;
    font-size: 40px;
    min-height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #f4f4f4;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-circulo {
    color: #6c3838;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #4e2626;
}
#slide-1:checked ~ .control-1 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~  
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(83, 36, 36, 0);
}
.icono{
  margin: 0;
  width: 40px;
  ;
}
.header{
  
  margin: 0;
  background-color: #faf9ff;
}
.footer{
  background-color: #72adcfca;
  width: 100%;
  height: 100px;
}
.iconomov{
  width: 10px;
  height: 10px;
}
.nav__header{
  background-color: #888;
}
.nav__ContainerGame{
  background-color: #aaaaaa;
  width: 48%;
  height: 390px;
  float: left;
  margin-left: 3px;
  text-align: center;
  border: solid #555;
  color: #fff;
}
.nav__ContainerBand{
  float: right;
  background-color: #828282;
  width: 47%;
  height: 390px;
  margin-right: 3px;
  text-align: center;
  color: #fff;
  border: solid #555;
}
.nav__ContainerDescription{
  background-color: #7a7777;
  height: 265px;
  margin-top: 3px;
  float: left;
  width: 99%;
  margin-right: 3px;
  margin-left: 3px;
}
.nav__ContainerVideo frame{
  width: 100%;
  height: 100%;
}
h2{
  text-align: center;
}
.nav__ContainerParrafoGame{
 
  width: 90%;
  height: 130px;
  margin-left: 9px;
  text-align: center;
  border: solid #555;
}
.nav__ContainerImg{
  height: 60%;
  width: 90%;
}
.nav__ContainerImg img{
  width: 100%;
  height: 80%;
  margin-left: 9px;
  margin-top: 3px;
}
.nav__ContainerDescription-img{
width: 50%;
height: 60%;
border: solid #555;
background-color: #888;
margin-top: auto;
color: #FFF;
}
.nav__ContainerDescription-img img{
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: auto;
}
.nav__ContainerParrafoBanda{
 display: block;
 float: right;
 width: 47%;
 height: 249px;
 border: solid #555;
 margin-top: -150px;
}
.nav__ContainerParrafoBanda img{
width: 90%;
height: 90%;
margin-left: 5px;
border: #555;
}
.nav__parrafo{
  background-color: #888;
  height: 100px;
  color: #FFF;
  margin-top: auto;
  width: 50%;
  border: solid #555;
}
.nav__parrafo .nav_parrafo-item{
  margin-top: auto;
  color: #FFF;
  margin-left: 4px;
}




.texto{
  text-align: center;
  size: 5px; ;
}
.parrafo{
  text-align: center;
  margin: 10px;
}
.parrafoNoti{
  width: 90%;
  height: 130px;
  margin-left: 9px;
  text-align: center;
  border: solid #0e0591;
}
img {
  float: right;
}