*{
    box-sizing: border-box;
    text-align: center;
}
.header{
   background-color: rgb(61, 69, 69) ; 
   width: 100%;
   float:left ;
   height: 60px;
}
.footer{
    background-color:rgb(61, 69, 69) ;
    width: 100%;
    float: left;
    height: 40px;
}
.menu{
    background-color: rgb(242, 252, 255);
    width: 100%;
    float: left;
    height: 60px;
}
.dashboard{
    background-color: rgb(246, 252, 254);
    width: 50%;
    float: left;
}
.rss{
    background-color: rgb(252, 254, 255);
    width: 25%;
    float: left;
}
.main{
    background-color: rgb(253, 254, 255);
    width: 100%;
    float: left;
    height: 480px;
}
.listamenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e3533;
  }
  
  li{
    float: left;
    border-right: 1px solid #bbb;
  }

   a {
    display: block;
    color: rgb(206, 212, 209);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .active{
    background-color: #71747368;
  }


.bodySection{
    background-color: #444;
    width: 35%;
    display: inline;
    height: 500px;
    float: left;
    font-family: 'Delicious Handrawn',cursive;
    color: #FFF;
}
.bodySection h2{
   background-color: #777;
   margin-top: auto;
   height: 45px;
}
.bandSection{
    background-color: #777;
    display: inline;
    width: 64%;
    height: 500px;
    float: right; 
}
.bandSection h2{
background-color: #444;
margin-top: auto;
height: 45px;
font-family: 'Delicious Handrawn',cursive;
color: #FFF;
}
  