*{
    box-sizing: border-box;
    text-align: center;
}
.header{
 
   background-color: rgb(255, 255, 255) ; 
   width: 100%;
   float:left ;
   height: 70px;
   margin-bottom: 4px;
   font-family: 'Delicious Handrawn',cursive;
}
.header img{
float: left;
}
.footer{
    background-color:rgb(61, 69, 69) ;
    width: 100%;
    float: left;
    height: 40px;
}
.menu{
    background-color: rgb(242, 252, 255);
    width: 100%;
    float: left;
    height: 60px;
}
.dashboard{
    background-color: rgb(246, 252, 254);
    width: 50%;
    float: left;
}
.rss{
    background-color: rgb(252, 254, 255);
    width: 25%;
    float: left;
}
.main{
    background-color: rgb(253, 254, 255);
    width: 100%;
    float: left;
    height: 480px;
}
.listamenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e3533;
  }
  
  li{
    float: left;
    border-right: 1px solid #bbb;
  }

   a {
    display: block;
    color: rgb(206, 212, 209);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .active{
    background-color: #71747368;
  }


.bodySection{
    background-color: #444;
    width: 35%;
    display: inline;
    height: 500px;
    float: left;
    font-family: 'Delicious Handrawn',cursive;
    color: #FFF;
}














.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    height: auto;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 180px;
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
 
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    min-height: 400px;
   
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    min-height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}


.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

@media (max-width:500px){
    *{
        margin: auto;
    }
    .menu{
        display: none;
        width: 100%;
    }
    .header{
        background-color: #2e3533;
       
        display: block;
    }
    .menu-responsive
    {
        background-color: #444;
        height: 950px;
        width: 50%;
        float: left;
        margin-top: -10px;
    }
    .menu-responsive div{
        height: 100%;
    }
    .nav__header{
        background-color: #2e3533;
    }
 
   
}
